@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

/* @theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: "Poppins", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
} */
 :root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: "Poppins", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}


/* Base style smooth scroll and background */
body {
  font-family: var(--font-sans);
  background-color: #FAF8F5; /* Premium warm cream background */
  color: #111111; /* Dark charcoal */
}

